body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'sagoe UI', tahoma, geneva, verdana, sans-serif;
    font-weight: bold;
    background-color: #00ffff;
    text-align: center;
}

hi, h3{
    margin: 0px;
}
#cabecalho{
    background-color: #272727;
    color: #ffffff;
    padding: 22px 0px;
}


#rodape{
    background-color: #272727;
    color: #ffffff;
    padding: 22px 0px;
    font-size: 12px; 
}

.boxForm{
    display: flex;
    flex-direction: column;
    padding: 34px;
    text-align: left;
    align-items: center;
}

.campForm, .campFormDataSetor,.campFormSelet {
    width: 100%;
    max-width: 230px;
    height: 35px;
    margin-bottom: 16px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.btnAcessar {
    width: 100px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #008000;
    color: #ffffff;
    cursor: pointer;
}
